*{
	margin:0;
	padding:0;
}
#nav-bar{
position: sticky;
top:0;
z-index: 10;
}
.navbar {
	background-image: linear-gradient(to right,#a517ba,#5f1782);
	padding:0 !important;
}
.navbar-brand img{
	height: 40px;
	padding-left: 20px;
}
.photo{
	height:200px;
	width:500px;
	margin-left: 650px;
}
.photo1{
	height:200px;
	width:500px;
	margin-left: -50px;
	margin-top:100px;
}
.op1{
	margin-left:600px;
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
 background-image: linear-gradient(to right,#a517ba,#5f1782);
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;
	margin-top:100px

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
.contain{
	margin-top:100px;
}
.card1{
	height:10px;
	width:10px;
}

.service{
	padding:80px 0;
}
.service-img{
	width:250px;
	height:200px;
	margin-top:-150px;
margin-left:70px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}